<div>
  <form [formGroup]="RefugeePostForm" (ngSubmit)="CreatePost(RefugeePostForm)">
    <h1 class="display-4">Create request for pickup</h1>

    <label class="form-label mt-4">Name:</label>
    <input formControlName="name" name="name" type="text" class="form-control"/>
    <div class="text-danger" *ngIf="RefugeePostForm.get('name')?.hasError('required')">
      Name is required.
    </div>

    <label class="form-label mt-4">Description:</label>
    <input class="form-control" formControlName="description" name="description" type="text"/>
    <div class="form-text">Description of your situation. Nonrequired.</div>

    <label class="form-label mt-4">Telephone number:</label>
    <input class="form-control" formControlName="phone" name="phone" type="tel"/>
    <div class="form-text">Contact on you.</div>
    <div class="text-danger" *ngIf="RefugeePostForm.get('phone')?.hasError('required')">
      Phone is required.
    </div>
    <div class="text-danger" *ngIf="RefugeePostForm.get('phone')?.hasError('pattern')">
      This is not phone number.
    </div>

    <label class="form-label mt-4">Country:</label>
    <input class="form-control" formControlName="country" name="country" type="text"/>
    <div class="form-text">Country where you are.</div>
    <div class="text-danger" *ngIf="RefugeePostForm.get('country')?.hasError('required')">
      Country is required.
    </div>

    <label class="form-label mt-4">City:</label>
    <input class="form-control" formControlName="city" name="city" type="text"/>
    <div class="form-text">City where you are.</div>
    <div class="text-danger" *ngIf="RefugeePostForm.get('city')?.hasError('required')">
      City is required.
    </div>

    <label class="form-label mt-4">Destination:</label>
    <input class="form-control" formControlName="destination" name="destination" type="text"/>
    <div class="form-text">Destination where you are heading.</div>
    <div class="text-danger" *ngIf="RefugeePostForm.get('destination')?.hasError('required')">
      Destination is required.
    </div>

    <label class="form-label mt-4">Need:</label>
    <input class="form-control" formControlName="need" name="need" type="text"/>
    <div class="form-text">Things you need. Drugs, food...etc. Nonrequired</div>

    <label class="form-label mt-4">Count of adults:</label>
    <input class="form-control" formControlName="count" name="count" type="number" min="1" />
    <div class="form-text">How many adults will travel...etc.</div>
    <div class="text-danger" *ngIf="RefugeePostForm.get('count')?.hasError('required')">
      Count is required.
    </div>

    <label class="form-label mt-4">Count of children:</label>
    <input class="form-control" formControlName="countKids" name="countKids" type="number" min="0" />
    <div class="form-text">How many children will travel...etc.</div>
    <div class="text-danger" *ngIf="RefugeePostForm.get('countKids')?.hasError('required')">
      Count of kids is required.
    </div>

    <label class="form-label mt-4">Password for deleting/editing post.</label>
    <input class="form-control" formControlName="password" name="password" type="password" />
    <div class="form-text">This you can use if you switch to our ios/android app</div>
    <div class="text-danger" *ngIf="RefugeePostForm.get('password')?.hasError('required')">
      Password is required.
    </div>
    <input class="btn btn-success mx-auto d-block" type="submit" value="Create post"/>
  </form>
</div>
