<div class="mt-5 text-center">
  <div>
    <p class="display-4">Offering home</p>
    <form (ngSubmit)="SendSearchForm()" [formGroup]="HomeProviderSearchForm" (reset)="LoadHomeProviders()"
          class="row">
      <div class="col-xl-10 mt-1">
        <input class="form-control" type="text" formControlName="searchValue"
               placeholder="Search by telephone, name, destination, city, country, date created"/>
      </div>
      <div class="col-auto mt-1">
        <button type="submit" value="Search" class="btn btn-warning"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input type="reset" value="Cancel" class="btn btn-danger mx-2"/>
      </div>
    </form>
  </div>
  <div class="d-flex flex-row-reverse mt-4">
    <a routerLink="/homeProviders/add" class="align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-plus-circle"
           viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </a>
  </div>
  <div>
    <div *ngFor="let homeProvider of HomeProviders" class="col-lg-3 col-sm-6 mt-3 d-inline-block mx-2">
      <div class="card">
        <div class="card-body">
          <div class="fs-4 mb-3"><a class="text-decoration-none" href="http://www.google.com/maps/place/{{homeProvider.gpsLatitude}},{{homeProvider.gpsLongitude}}" target="_blank" >{{homeProvider.name}}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg></a></div>
          <p class="card-text">{{homeProvider.description}}</p>
          <p class="card-text">Provide: {{homeProvider.provide}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <h6 class="list-group-item"><b><u>Phone:{{homeProvider.phone}}</u></b></h6>
          <h6 class="list-group-item"><b>Country:</b> {{homeProvider.country}}, <b>City:</b> {{homeProvider.city}}</h6>
          <h6 class="list-group-item"><b>Address:</b> {{homeProvider.address}}</h6>
          <h6 class="list-group-item"><b>Can take in Adults: </b>{{homeProvider.count}}, <b>Children:</b> {{homeProvider.countKids}}</h6>
          <h6 class="list-group-item"><b>date Created:</b> {{homeProvider.dateCreated}}</h6>
        </ul>
        <div class="card-body">
          <a routerLink="/homeProviders/update/{{homeProvider.id}}" class="btn btn-primary float-start">Edit</a>
          <button class="btn btn-danger float-end" (click)="DeleteHomeProvider(homeProvider)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-warning mt-5" (click)="LoadMore()">Load More!<br><i class="fa-solid fa-arrow-down"></i></button>
</div>
